{% comment %}

https://simpleisbetterthancomplex.com/tutorial/2018/08/13/how-to-use-bootstrap-4-forms-with-django.html
Add comments as cards from listing.comment property

context for view:
    listing: Listing()
    comments_form : From() with 'text' property
{% endcomment %}

{% load crispy_forms_tags %}

<div class="card text-dark mx-auto" style="max-width: 960px;">
    <div class="card-body p-4">
        <h3 class="mb-0">Comments:</h3>
        <hr class="mb-4" />
        {% for comment in listing.comments %}
        <div class="d-flex flex-start">
            <div>
                <h5 class="fw-bold mb-1"><strong>{{ comment.user }} </strong></h5>
                <div class="d-flex align-items-center mb-3">
                    <h6 class="mb-3 text-muted">
                        {{ comment.timestamp }}
                    </h6>
                </div>
                <p class="mb-0 h5">
                    {{ comment.text }}
                </p>
            </div>

        </div>
        <hr class="mb-4" />
        {% endfor %}
        <form action="{% url 'auctions:add_comment' listing.id %}" method="post">
        {% csrf_token %}
            <div class="mb-3 mx-auto" style="max-width: 960px;">
                <div class="card-body p-4">
                    {{ comments_form.text|as_crispy_field }}
                    <button type="submit" class="btn btn-primary">Add comment</button>
                </div>
            </div>
        </form>
    </div>
</div>







