{% extends "auctions/layout.html" %}
{% comment %}

context for view:
    form - for create listing in context;
    bages class (with categor properties) for nav_block.

{% endcomment %}



<!-- https://simpleisbetterthancomplex.com/tutorial/2018/08/13/how-to-use-bootstrap-4-forms-with-django.html -->
{% load crispy_forms_tags %}

{% block nav_block %}
     {% include "auctions/nav_block.html" %}
{% endblock %}

{% block body %}
    <div class="container-md">
        <h1> Create a new listing</h1>
        <form action="{% url 'auctions:create_listing' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-2">
                    {{ form.category|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    {{ form.title|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    {{ form.description|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    {{ form.image_url|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    {{ form.start_value|as_crispy_field }}
                </div>
            </div>

            <button type="submit" class="btn btn-success">Save listing</button>
        </form>
    </div>
{% endblock %}
