{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
<div class="card" style="width: 18rem;">
  {% if data.image_url %}
    <img src="{{ data.image_url }}" class="card-img-top" alt="Image for {{ data.title }}">
  {% else %}
    <img src="{% static 'auctions/no_image.jpg' %}" class="card-img-top" alt="Image for {{ data.title }}">
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{ data.title }}</h5>
    <p class="card-text">{{ data.description }}</p>
    {% if user.is_authenticated %}
      <a href="#" class="btn btn-primary">Go somewhere</a>
    {% endif %}
  </div>
</div>
{% endblock %}