{% extends "auctions/layout.html" %}

{% block nav_block %}
    {% include "auctions/nav_block.html" %}
{% endblock %}



{% block body %}
    {% load humanize %}
    <div class="container">
        <h1 class="text-center mb-4">Notifications for {{ user }}:</h1>
        {% for notification in notifications %}
        <a href="{% url 'auctions:mark_as_read' notification.id %}" class="list-group-item list-group-item-warning">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ notification.title }}</h5>
          <small>{{ notification.timestamp|naturaltime }}</small>
        </div>
        <p class="mb-1">{{ notification.text }}</p>
        <small>Click to mark it read. Created by {{ notification.author }}</small>
        </a>
        {% empty %}
        <h2 class="text-center">There are not notifications yet.</h2>
        {% endfor %}
    </div>
{% endblock %}