{% extends "network/layout.html" %}
{% load static %}


{% block body %}

    <!-- Add new post form -->
    {% if user.is_authenticated %}
      <form action="api/newPost" method='post' class="m-4" id="newPostForm">
          {% csrf_token %}
          <div class="form-group">
            <label for="newPostText">New Post</label>
            <textarea class="form-control" id="newPostText" name="newPostText" autocomplete="off"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Post</button>
      </form>
    {% endif %}

    <!-- Here are latest posts -->
    {% for post in post_list %}
      <div class="card mt-4">
        <div class="card-body">
          <a href="userProfile?username={{post.author}}" class="card-title">{{post.author}}</a>
          <p class="card-text">{{post.postText}}</p>
          {% if post.author == user.username %}
            <a href="#" class="btn btn-outline-primary btn-sm">Edit</a>
          {% endif %}
          <a href='#'>😻 {{post.likeCount}}</a>
          <a href='#'>👎 {{post.unlikeCount}}</a>
        </div>
        <div class="card-footer">{{post.timestamp}}</div>
      </div>
    {% endfor %}

    <!-- Pagination -->
    <nav aria-label="Post lists pages">
      <ul class="pagination mt-4">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1" tabindex="-1">first</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">first</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">previous</a>
          </li>
        {% endif %}
        <li class="page-item active">
          <a class="page-link" href="#"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
        </li>
        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#">next</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">last</a>
          </li>
        {% endif %}
      </ul>
    </nav>

{% endblock %}
