{% extends "network/layout.html" %}
{% load static %}


{% block body %}
    <!-- Add new post form -->
    {% if user.is_authenticated %}
      {% csrf_token %}
      <form class="m-4" id="newPostForm">
          <div class="form-group">
            <label for="newPostText">New Post</label>
            <textarea class="form-control" id="newPostText" name="newPostText" autocomplete="off"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Post</button>
      </form>
    {% endif %}
    <!-- Here latest posts -->
    <div id="postSection"></div>
{% endblock %}

<!-- SCripts to load with index page - not login or register -->
{% block indexScript %}
  <script src="{% static 'network/index.js' %}" type="text/javascript"></script>
  <script src=" https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js "></script>
{% endblock %}