{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <!-- User profile card -->
    <div class="card" width="18rem">
        <div class="card-body">
          <h3 class="card-title">{{username}}</h3>
          <p class="card-text">followers: <span id="followersCount">{{followers_count}}</span></p>
          <p class="card-text">
            user follows: {{followed_count}}
          </p>
          {% if user.is_authenticated and user.username != username %}
            <button class="btn btn-primary" 
                    id="followButton" 
                    data-followfrom="{{user.id}}" 
                    data-followto="{{user_id}}"
                    value = {{is_following}}
            >
                {{ is_following }}
            </button>
          {% endif %}
        </div>
      </div>

    <!-- Users posts list-->
    {% for post in post_list %}
      <div class="card mt-4" id='id{{post.id}}'>
        <div class="card-body">
          <a href="userProfile?username={{post.author}}" class="card-title">{{post.author}}</a>
          <p class="card-text">{{post.postText}}</p>
          {% if post.author == user.username %}
            <!-- Add Edit post form -->
            <form class="m-4 posteditform" style="display: none;">
              <div class="form-group">
                <label for="newPostText">Edit Post</label>
                <textarea class="form-control posttext" name="EditedPostText" autocomplete="off">{{post.postText}}</textarea>
              </div>
                <button type="submit" class="btn btn-primary savebutton" data-postid="id{{post.id}}">Save</button>
            </form>
            <button class="btn btn-outline-primary btn-sm editbutton" data-postid="id{{post.id}}">Edit</button>
          {% endif %}
          <span class="likebutton" style="cursor: pointer;" data-postid='id{{post.id}}'>😻 {{post.likeCount}}</span>
          <span class="dislikebutton" style="cursor: pointer;" data-postid='id{{post.id}}'>👎 {{post.unlikeCount}}</span>
        </div>
        <div class="card-footer">{{post.timestamp}}</div>
      </div>
    {% endfor %}

    <!-- Pagination -->
    <nav aria-label="Post lists pages">
        <ul class="pagination mt-4">
          {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?username={{username}}&page=1" tabindex="-1">first</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?username={{username}}&page={{ page_obj.previous_page_number }}">previous</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">first</a>
            </li>
            <li class="page-item disabled">
              <a class="page-link" href="#">previous</a>
            </li>
          {% endif %}
          <li class="page-item active">
            <a class="page-link" href="#"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
          </li>
          {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?username={{username}}&page={{ page_obj.next_page_number }}">next</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?username={{username}}&page={{ page_obj.paginator.num_pages }}">last</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#">next</a>
            </li>
            <li class="page-item disabled">
              <a class="page-link" href="#">last</a>
            </li>
          {% endif %}
        </ul>
      </nav>

{% endblock %}

{% block Script%}
    <script src="{% static 'network/userprofile.js' %}" type="module"></script>
{% endblock %}