{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <!-- User profile card -->
    <div class="card" width="18rem">
        <div class="card-body">
          <h3 class="card-title">{{username}}</h3>
          <p class="card-text">followers: {{followers_count}}</p>
          <p class="card-text">
            user follows: {{followed_count}}
          </p>
          {% if user.is_authenticated and user.username != username %}
            <button class="btn btn-primary" id="followButton">
                {{ is_following }}
            </button>
          {% endif %}
        </div>
      </div>
    <!-- Users posts list-->
    {% for post in post_list %}
      <div class="card mt-4">
        <div class="card-body">
          <a href="userProfile?username={{post.author}}" class="card-title">{{post.author}}</a>
          <p class="card-text">{{post.postText}}</p>
          {% if post.author == user.username %}
            <a href="#" class="btn btn-outline-primary btn-sm">Edit</a>
          {% endif %}
          <a href='#'>😻 {{post.likeCount}}</a>
          <a href='#'>👎 {{post.unlikeCount}}</a>
        </div>
        <div class="card-footer">{{post.timestamp}}</div>
      </div>
    {% endfor %}
{% endblock %}